{% extends 'base.html' %}

{% block title %}register{% endblock %}



{% block content %}


{% for message in messages %}
        <h3> {{ message }} </h3>
    {% endfor %}
<div class="form-div">
    <h2>Register below:</h2>
<form method="POST" action="{% url 'register' %}" class="user-form">
    {% csrf_token %}

        <h3>Username:</h3>
        <input type="text" name="username" required class="user-input">
        <h3>Email:</h3>
        <input type="email" name="email" required class="user-input">
        <h3>Password:</h3>
        <input type="password" name="password" required class="user-input">
        <h3>Repeat Password:</h3>
        <input type="password" name="password2" required class="user-input">
        <div class="button-div">
            <button type="submit" class="user-button">sign up</button>
        </div>



</form>
</div>



<style>
.user-form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    background-color: #05353d;
    padding: 8px;
    color: chocolate;
    border-radius: 6px;
    gap: 5px;
}

.user-input{
    width: 100%;
    border-radius: 10px;
    border: 2px solid #8b6f00;
    padding: 2px;
}

.form-div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #6b2727;
}

.user-button{
    padding: 3px;
    border: 2px solid darkblue;
    border-radius: 5px;
    background-color: #3f5867;
    color: #250505;
    font-weight: bold;
}

.button-div{
    margin-left: auto;
}

</style>

{% endblock %}



